l*/__pycache__/
__pycache__/
*.egg
.eggs/
.vscode
*.egg-info/
operadar/operadar_conf.py
tables_generator/tables/
!tables_generator/tables/.gitkeep
tables_generator/src/Tmat
tables_generator/src/TmatInt
