l*/__pycache__/
__pycache__/
*.egg
.eggs/
.vscode
*.egg-info/
configFiles/conf_*
operadar/operadar_conf.py
tmatrix_generator/tables/**
!tmatrix_generator/tables/.gitkeep
!tmatrix_generator/tables/rr/.gitkeep
!tmatrix_generator/tables/gg/.gitkeep
!tmatrix_generator/tables/ss/.gitkeep
!tmatrix_generator/tables/ii/.gitkeep
!tmatrix_generator/tables/wg/.gitkeep
!tmatrix_generator/tables/hh/.gitkeep
!tmatrix_generator/tables/wh/.gitkeep
!tmatrix_generator/tables/mm/.gitkeep
!tmatrix_generator/tables/tt/.gitkeep
tmatrix_generator/src/Tmat
tmatrix_generator/plotTables/IMG/**
tmatrix_generator/plotTables/IMG/.gitkeep
