l*/__pycache__/
__pycache__/
*.egg
.eggs/
.vscode
*.egg-info/
tables_generator/tables/
tables_generator/param/tmp_config
!tables_generator/tables/.gitkeep
tables_generator/src/Tmat
tables_generator/src/TmatInt
plot_tools/IMG/
plot_tools/IMG/.gitkeep
